body {
	margin: 0;
	padding: 0;
	background-color: #f2f2f2;
}

.container {
	width: 80%;
	margin: auto;
	text-align: center;
	padding-top: 100px;
}

h1 {
	font-size: 48px;
	margin-bottom: 40px;
}

table {
	width: 100%;
	border-collapse: collapse;
	margin-top: 50px;
}

th,
td {
	padding: 10px;
	text-align: left;
	border-bottom: 1px solid #ddd;
}

th {
	background-color: #008CBA;
	color: #fff;
}

td {
	vertical-align: top;
}

.employee-tasks {
	margin-left: 20px;
}


nav {
	background-color: #333;
	color: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
}

nav ul {
	list-style: none;
	display: flex;
}

nav ul li {
	margin-right: 20px;
}

nav ul li a {
	color: #fff;
	text-decoration: none;
}

nav ul li a:hover {
	text-decoration: underline;
}
